@font-face {
    font-family: "font";
    src: url("font.woff") format('woff');
    }

.container {
    margin: 0 auto;
    padding: 0;
    width: 40%;

}

.underline:hover {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'font';
    font-weight: 400;
    color: #222222;
    align-items: center;
    text-align: center;
}

h1 {
    padding: 0em;
    font-size: 1.4em;
    text-decoration: underline;
}

h2 {
    font-size: 1.2em;
    width:30%;
    word-break: break-word;
    margin-top: 0em;
    text-align: center;
}

p {
    line-height: 1.2em;
}

a {
    color: #222222;
    text-decoration: none;
}


@media only screen and (max-width: 1024px) {

    .container {
        margin: 0 auto;
        padding: 0;
        width: 90%;

    }

    body {
        display: flex;
        flex-direction: column;
        font-family: 'font';
        font-weight: 400;
        color: #222222;
        align-items: center;
        text-align: center;
    }

    h1 {
        padding: 0em;
        font-size: 1.6em;
        text-decoration: underline;
    }

    h2 {
        font-size: 1.4em;
        width:80%;
        word-break: break-word;
        margin-top: 0em;
        text-align: center;
    }


}
