#container > 

div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

@font-face {
    font-family: "font";
    src: url("font.woff") format('woff');
    }

body {
    font-family: 'font';
    font-weight: 400;
    color: #222222;
}

p {
    margin: 2rem;
    line-height: 1.4em;
    font-family: 'font';
    font-weight: 400;
}

a {
    color: #222222;
    text-decoration: none;
    font-size: 1.4em;
}

.keep-ratio {
    display: block;
    object-fit: scale-down;
    max-width: 400px;
}
