#container > div {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "font";
    src: url("font.woff") format('woff');
    }

body {
    font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
    font-weight: 400;
    color: #222222;
    padding: 0 1em;
}

p {
    margin: 2rem auto;
    max-width: 750px;
    line-height: 1.4em;
    font-family: 'font';
}

a {
    color: #222222;
    font size: 12px;
    text-decoration: none;
}

.keep-ratio {
    display: block;
    object-fit: scale-down;
    max-width: 400px;
}
